.collection-item{
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    .image{
        width: 100%;
        height: 95%;
        background-image: cover;
        background-position: center;
        margin-bottom: 5px;
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 5%;
    }
}
